
section {
    margin:20px auto;
    padding: 10px;
    background-color: darkslategray;
    border: 2px solid #FFF;
}

h2 {
    color:red;
}
#principal{
    color: rgb(228, 119, 119);
}
.caja {
    width: 100px;
    height: 100px;
    background-color: orange;
    text-align: center;
    display: inline-block; }

.destacada {
    background-color: darkturquoise;
}

.relativa {
    position: relative;
    top: 15px;
    left: 15px;  
}

.absoluta {
    position: absolute;
    bottom: 0; 
    right: 0;
}

.fija{
    position: fixed;
    bottom:15px;
    left:15px;
}
.stinky{
    position: sticky;
    
}
.float{
    float:right;
    bottom:15px;
    left:15px;
}