
/* 2  Etiquetas - Estilos basicos de nuestra Web
******************************************************************/

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: justify;
    letter-spacing: 0;
}

/* selector basico de etiqueta, da estilos a todos los h1 */
h1, h2, h3 {   
    color: teal;
    font-size: 1.6rem;
    text-align: center;      
    text-transform: lowercase;    
}

h2 {       
    font-size: 1.4em;    
}

h3 {
    font-size: 1.2em;
}

p { 
    margin-top: 1.5rem;
}

code {
    background-color: rgb(37, 36, 36);
    color: rgb(3, 209, 3);
    padding: 5px 10px;
}

/* selector descentende */

p span { 
    color: red; 
}


/* Selector de clase se asocia al atributo class de una etiqueta y empiezan por "." */

.destacado {
    color: pink;
}

.otra-clase {    
    letter-spacing: 5px;
}


/* selector de ID , el id debe ser unico y no se puede repetir en el HTML */
#principal {
    color: darkmagenta;
}

